.title {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0;

  @media (max-width: 767px) {
    width: 100%;
    text-align: center;
  }
}

.tablist {
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    padding: 0;
  }

  li {
    list-style: none;
    margin-left: 15px;

    @media (max-width: 767px) {
      margin: 0 10px;
    }

    &.is-active a {
      color: #aaa;
    }

    a {
      font-weight: 600;
      color: #ff6600;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}
